# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
.env

# Other configuration
.editorconfig
.vscode/

# Python
env/
**/__pycache__/

# Application configuration and data
conf/
data/
