{% extends "base.html" %}

{% block body %}
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top" role="navigation">
    <div class="container">
      <span class="navbar-brand mb-0 h1">清华四字班秩年</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="开关导航栏">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              {% if nav.0 == 'home' %}
              class="nav-link active" href="#"
              {% else %}
              class="nav-link" href="{% url 'home' %}"
              {% endif %}
            >首页</a>
          </li>
          {% if user.is_authenticated and user.profile %}
          <li class="nav-item">
            <a
              {% if nav.0 == 'profile' and nav.1 == user.username %}
              class="nav-link active" href="#"
              {% else %}
              class="nav-link" href="{% url 'profile' user.username %}"
              {% endif %}
            >个人信息</a>
          </li>
          {% endif %}
          {% if user.linked_classes %}
          <li class="nav-item">
            <a
              {% if nav.0 == 'list' %}
              class="nav-link active" href="#"
              {% else %}
              class="nav-link" href="{% url 'class_detail' user.linked_classes.0 %}"
              {% endif %}
            >统计信息</a>
          </li>
          {% endif %}
        </ul>
        <form class="form-inline">
          {% if user.is_authenticated %}
          <span class="navbar-text text-secondary mr-2">{{ user.profile.name|default:"管理员" }}</span>
          {% if user.is_superuser or user.is_staff %}
          <a href="{% url 'admin:index' %}" class="btn btn-outline-danger mr-2">管理</a>
          {% endif %}
          <a href="{% url 'logout' %}" class="btn btn-outline-light">注销</a>
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-light">登录</a>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>
</header>
{% block content %}{% endblock %}
<footer class="container">
  <hr>
  <p class="text-center">清华大学2004级秩年工作小组 版权所有</p>
</footer>
{% endblock %}
