{% extends "contacts/base.html" %}
{% load static %}
{% load contacts %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
  $(function() {
    $("#profile-list").DataTable({
      pageLength: -1,
      lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "全部"]],
      language: {
        "sProcessing":   "处理中...",
        "sLengthMenu":   "显示 _MENU_ 项结果",
        "sZeroRecords":  "没有匹配结果",
        "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "sInfoPostFix":  "",
        "sSearch":       "搜索:",
        "sUrl":          "",
        "sEmptyTable":     "表中数据为空",
        "sLoadingRecords": "载入中...",
        "sInfoThousands":  ",",
        "oPaginate": {
          "sFirst":    "首页",
          "sPrevious": "上页",
          "sNext":     "下页",
          "sLast":     "末页"
        },
        "oAria": {
          "sSortAscending":  ": 以升序排列此列",
          "sSortDescending": ": 以降序排列此列"
        }
      }
    });
    function copyTextToClipboard(text) {
      var textArea = document.createElement("textarea");
      textArea.style.position = 'fixed';
      textArea.style.top = 0;
      textArea.style.left = 0;
      textArea.style.width = '2em';
      textArea.style.height = '2em';
      textArea.style.padding = 0;
      textArea.style.border = 'none';
      textArea.style.outline = 'none';
      textArea.style.boxShadow = 'none';
      textArea.style.background = 'transparent';
      textArea.value = text;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand('copy');
      document.body.removeChild(textArea);
    }
    $(".copy-url").click(function() {
      var url = $(this).attr("data-url");
      copyTextToClipboard(url);
    });
  });
</script>
{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1>联系班级</h1>
  <ul class="list-inline">
    {% for class in user.linked_classes %}
    <li class="list-inline-item">
      {% if class.name == name %}
      {{ class.name|default:"（空）" }}
      {% else %}
      <a href="{% url 'class_detail' class.id %}">{{ class.name|default:"（空）" }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <h1>{{ name }}</h1>
  <table id="profile-list" class="table table-striped table-hover table-sm text-center">
    <thead class="thead-light">
      <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>院系</th>
        <th>班级</th>
        <th>信息完整程度</th>
        <th>最近登录时间</th>
        <th>邀请链接</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in profiles %}
      <tr>
        <td><a href="{% url 'profile' profile.student_id %}">{{ profile.student_id }}</a></td>
        <td><a href="{% url 'profile' profile.student_id %}">{{ profile.name }}</a></td>
        <td>{{ profile.gender|gender }}</td>
        <td>{{ profile.department_name_list|join:"、" }}</td>
        <td>{{ profile.class_name_list|join:"、" }}</td>
        <td>{{ profile.completeness|percentage:"color"|safe }}</td>
        <td>
          {% if profile.user.last_login %}
          <span class="text-info">{{ profile.user.last_login|date:"Y-m-d H:i:s" }}</span>
          {% else %}
          <span class="text-warning">尚未登录</span>
          {% endif %}
        </td>
        <td>
          <a href="#" class="copy-url" data-url="{{ profile.invitation_url }}">复制链接</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
