{% extends "contacts/base.html" %}
{% load bootstrap4 %}
{% load contacts %}

{% block style %}
{{ block.super }}
{{ profile_form.media.css }}
{% endblock %}

{% block script %}
{{ block.super }}
{{ profile_form.media.js }}
{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1>个人信息</h1>
  <h2>学籍信息</h2>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">学号</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.student_id }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">姓名</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.name }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">院系</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.department }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">班级</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.clazz }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">专业</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.major }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">入学年份</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.enroll_year }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">毕业年份</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.graduate_year }}"></div></div>
  {% if not edit %}
  <h2>职业与通讯信息</h2>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">所在行业</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.industry %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.industry|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">工作单位</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.organization %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.organization|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">职务</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.position %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.position|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">职称</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.title %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.title|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">手机</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.mobile %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.mobile|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">电子邮箱</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.email %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.email|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">微信号</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.wechat %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.wechat|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">固定电话</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.telephone %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.telephone|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">所在地区</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.location %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.location|compact|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">通讯地址</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.address %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.address|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">邮编</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.postcode %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.postcode|default:"（空）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">备注</label><div class="col-8 col-sm-10"><input type="text" readonly {% if not profile.remark %}disabled{% endif %} class="form-control-plaintext" value="{{ profile.remark|default:"（空）" }}"></div></div>
  <h2>秩年与校友服务信息</h2>
  <div class="form-group row"><label class="col-4 col-sm-4 col-form-label">是否参加秩年校庆活动</label><div class="col-8 col-sm-8"><input type="text" readonly {% if extra.attend is None %}disabled{% endif %} class="form-control-plaintext" value="{{ extra.attend|yesno:"是,否,（未填）" }}"></div></div>
  <div class="form-group row"><label class="col-4 col-sm-4 col-form-label">申请校友邮箱</label><div class="col-8 col-sm-8"><input type="text" readonly {% if not extra.email_prefix %}disabled{% endif %} class="form-control-plaintext" value="{{ extra.email_prefix|complete|default:"（未申请）" }}"></div></div>
  {% if extra.photo %}
  <div class="form-group"><label class="col-form-label">校友卡证件照</label></div>
  <div class="form-group"><img src="{{ extra.photo.url }}" class="img-fluid rounded" alt="{{ profile.name }}"></div>
  {% else %}
  <div class="form-group row"><label class="col-4 col-sm-4 col-form-label">申请校友卡</label><div class="col-8 col-sm-8"><input type="text" readonly disabled class="form-control-plaintext" value="（未申请）"></div></div>
  {% endif %}
  {% buttons %}
  <a href="edit/" class="btn btn-primary">修改</a>
  {% endbuttons %}
  {% else %}
  <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <h2>职业与通讯信息</h2>
    {% bootstrap_form profile_form %}
    <h2>秩年与校友服务信息</h2>
    {% bootstrap_form extra_form %}
    {% if extra.photo %}
    <div class="form-group"><img src="{{ extra.photo.url }}" class="img-fluid rounded" alt="{{ profile.name }}"></div>
    {% endif %}
    {% if not user.has_usable_password %}
    <h2>安全信息</h2>
    {% bootstrap_form set_password_form %}
    {% endif %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="../" class="btn btn-secondary">放弃</a>
    {% endbuttons %}
  </form>
  {% endif %}
</main>
{% endblock %}
