{% extends "contacts/base.html" %}
{% load bootstrap4 %}

{% block style %}
{{ block.super }}
{{ profile_form.media.css }}
{% endblock %}

{% block script %}
{{ block.super }}
{{ profile_form.media.js }}
{% endblock %}

{% block content %}
<main role="main" class="container">
  <h1>个人信息</h1>
  <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <h2>学籍信息</h2>
    <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">学号</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.student_id }}"></div></div>
    <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">姓名</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.name }}"></div></div>
    <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">院系</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.department }}"></div></div>
    <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">班级</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.clazz }}"></div></div>
    <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">专业</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.major }}"></div></div>
    <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">入学年份</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.enroll_year }}"></div></div>
    <div class="form-group row"><label class="col-4 col-sm-2 col-form-label">毕业年份</label><div class="col-8 col-sm-10"><input type="text" readonly class="form-control-plaintext" value="{{ profile.graduate_year }}"></div></div>
    <h2>职业与通讯信息</h2>
    {% bootstrap_form profile_form %}
    <h2>秩年与校友服务信息</h2>
    {% bootstrap_form extra_form %}
    {% if extra.photo %}
    <div class="form-group"><img src="{{ extra.photo.url }}" class="img-fluid rounded" alt="{{ profile.name }}"></div>
    {% endif %}
    {% if not user.has_usable_password %}
    <h2>安全信息</h2>
    {% bootstrap_form set_password_form %}
    {% endif %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">提交</button>
    {% endbuttons %}
  </form>
</main>
{% endblock %}
